@font-face {
    font-family: 'Shippori Mincho';
  }
  
  @font-face {
    font-family: 'Figtree';
  }
  
  html {
    font-size: 6.9444444444vw;
  }
  
  :root {
    --main-font: "Shippori Mincho", serif;
    --sub-font: "Figtree", serif;
    --color-black: #303030;
    --color-white: #FDFAF7;
  
    --font-size-h1: 0.98rem;
    --font-size-desc-1: 0.18rem;
    --font-size-header-text: 0.24rem;
    --font-size-header-link: 0.22rem;
    --font-size-btn-1: 0.14rem;
    --font-size-btn-2: 0.22rem;
    --font-size-footer-link: 0.12rem;
    
    --line-height-h1: 1.17rem;
    --line-height-desc-1: 0.28rem;
    --line-height-header-text: 0.24rem;
    --line-height-header-link: 0.22rem;
    --line-height-btn-1: 0.14rem;
    --line-height-btn-2: 0.22rem;
    --line-height-footer-link: 0.12rem;
  }
  
  .title-h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-weight: 600;
    color: var(--color-black);
    font-family: var(--main-font);
  }
  .desc-1 {
    font-size: var(--font-size-desc-1);
    line-height: var(--line-height-desc-1);
    font-weight: 500;
    color: var(--color-black);
    font-family: var(--sub-font);
  }
  .header-text {
    font-size: var(--font-size-header-text);
    line-height: var(--line-height-header-text);
    font-weight: 500;
    color: var(--color-black);
    font-family: var(--main-font);
  }
  .header-link {
    font-size: var(--font-size-header-link);
    line-height: var(--line-height-header-link);
    font-weight: 400;
    color: var(--color-black);
    font-family: var(--sub-font);
  }
  .btn-1 {
    font-size: var(--font-size-btn-1);
    line-height: var(--line-height-btn-1);
    font-weight: 500;
    color: var(--color-black);
    font-family: var(--sub-font);
  }
  .btn-2 {
    font-size: var(--font-size-btn-2);
    line-height: var(--line-height-btn-2);
    font-weight: 600;
    color: var(--color-black);
    font-family: var(--sub-font);
  }
  .footer-link {
    font-size: var(--font-size-footer-link);
    line-height: var(--line-height-footer-link);
    font-weight: 500;
    color: var(--color-black);
    font-family: var(--sub-font);
  }
  
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  img,
  svg,
  video {
    display: block;
    max-width: 100%;
    width: 100%;
  }
  
  img {
    display: block;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  
  /* extra long transition to hide blue autofill background */
  input:-webkit-autofill,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:focus {
    -webkit-transition: background-color 100000000000000000000000000000s 0s, color 100000000000000000000000000000s 0s;
    transition: background-color 100000000000000000000000000000s 0s, color 100000000000000000000000000000s 0s;
  }
  
  /* Remove Safari autofill*/
  input::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    display: none !important;
    pointer-events: none;
    position: absolute;
    right: 0;
  }
  
  input[type=text],
  input[type=number],
  input[type=email],
  input[type=tel],
  textarea {
    /* remove autofill blue background */
    box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0) !important;
    -webkit-box-shadow: inset 0 0 0 150px rgba(255, 255, 255, 0) !important;
    -webkit-text-fill-color: currentColor !important;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: transparent;
  }
  
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  body {
    background: var(--color-white);
    position: relative;
  }
  
  .container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 1.22rem;
  }
  
  
  .header {
    display: flex;
    justify-content: space-between;
    padding: 0.64rem 0.88rem 0;
    .left-wrap {
      display: flex;
    }
    .header-menu {
      display: flex;
      list-style: none;
      .header-link {
        &:not(:last-child) {
          margin-right: 0.3rem;
        }
      }
    }
  }
  
  .subtitle {
    position: relative;
    width: 1.62rem;
    height: 0.41rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.12rem;
    &-left-arrow {
      position: absolute;
      width: 0.33rem;
      height: 0.14rem;
      right: calc(100% + 0.16rem);
      top: 50%;
      transform: translateY(-50%);
    }
    &-right-arrow {
      position: absolute;
      width: 0.33rem;
      height: 0.14rem;
      left: calc(100% + 0.16rem);
      top: 50%;
      transform: translateY(-50%);
    }
    &-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .btn-1 {
      text-transform: uppercase;
    }
  }
  
  .btn {
    position: relative;
    width: 2.84rem;
    height: 0.73rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0.72rem;
    &-left-arrow {
      position: absolute;
      width: 0.72rem;
      height: 0.63rem;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
    }
    &-right-arrow {
      position: absolute;
      width: 0.72rem;
      height: 0.63rem;
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
    }
    &-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    .btn-2 {
      text-transform: uppercase;
    }
  }
  .hero {
    padding-top: 0.61rem;
    position: relative;
    overflow: hidden;
    .title-block {
      width: 8.7rem;
      text-align: center;
      margin: 0 auto 0.78rem;
    }
    .text-block {
      width: 3.35rem;
      padding-bottom: 5.59rem;
    }
    &-bg {
      width: 14.40rem;
      height: 11rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
    &-parallax {
      width: 14.40rem;
      height: 12.12rem;
      position: absolute;
      top: -0.5rem;
      left: 0;
      z-index: -1;
    }
    .parallax {
      &-item {
        position: absolute;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      &-tree {
        bottom: 0;
        left: 0;
        width: 14.41rem;
        height: 6.28rem;
        z-index: 3;
      }
      &-castle {
        bottom: 0;
        left: 0;
        width: 11.86rem;
        height: 8.91rem;
        z-index: 2;
      }
      &-mountains {
        bottom: 0;
        left: 0;
        width: 14.40rem;
        height: 3.65rem;
        z-index: 1;
      }
    }
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 0.88rem 0.6rem;
    position: relative;
    .left-wrap {
      display: flex;
      align-items: center;
      .divider {
        margin: 0 0.14rem;
        height: 0.12rem;
        width: 1px;
        background: #737373;
      }
      span {
        display: flex;
      }
    }
    .center-wrap {
      display: flex;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .right-wrap {
      display: flex;
      .social-icon {
        margin-right: 0.32rem;
        img {
          width: 100%;
          height: 100%;
          display: block;
        }
        .facebook-icon {
          width: 0.09rem;
          height: 0.18rem;
        }
        .insta-icon {
          width: 0.16rem;
          height: 0.16rem;
        }
        .twitter-icon {
          width: 0.19rem;
          height: 0.16rem;
        }
    }
    }
  }
